$primary-font-stack: Fakt,AvenirNext-Medium,Segoe UI,sans-serif;
$condensed-font-stack: FaktCondensed, AvenirNextCondensed-Medium,Segoe UI,sans-serif;
$serif-font-stack: Tiempo, Georgia, serif;

$primary-grey-scale-color: #262626;
$light-grey-scale-color: #999;
$dark-grey-scale-color: #666;

$border-color: #d8d8d8;
$red: #f52828;
$white: #fff;

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.4;
  font-weight: 400;
  font-family: $primary-font-stack;
  color: $primary-grey-scale-color;
}

a {
  text-decoration: none;
  color: $primary-grey-scale-color;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: $white;
  border-bottom: 1px solid $border-color;
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

main {
  margin-top: 7em;
}

.logo {
  font-family: $condensed-font-stack;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.5em;
    color: $primary-grey-scale-color;
}

.outbound-link {
  text-align: center;
  font-size: 0.9em;
  padding: 0.5em 2em 0.5em 1em;
  font-weight: 400;
  color: $light-grey-scale-color;
  display: inline-block;
  white-space: nowrap;
  transition: all .15s ease;

  &:hover {
    color: $primary-grey-scale-color;
  }
}

.brand-banner {
  padding: 0 0 2em 0;
  text-align: center;

  h1 {
    font-family: $condensed-font-stack;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 4em;
    line-height: 1em;
  }

  span {
    border-bottom: 0.25em solid $red;
  }

  p {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 2em;
  }
}

nav {
  border-bottom: 1px solid $border-color;
  margin-bottom: 2em;
}

footer {
  text-align: center;
  color: $primary-grey-scale-color;
  padding: 2em 1em 4em 0;
}

.loading {
  text-align: center;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
}

%article-title {
  font-size: 1.5em;
  font-family: $serif-font-stack;
  line-height: 1.1em;
  font-weight: 600;
}

%article-attribute {
  font-size: 0.9em;
  line-height: 1.2em;
}

%article-excerpt {
  font-family: $serif-font-stack;
  font-size: 1.2em;
}

.article-card {
  list-style-type: none;
  width: 400px;
  text-decoration: none;
  color: $primary-grey-scale-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 2em;
  margin: 0 1em 2.5em 0;

  img {
    width: 100%;
  }

  h2 {
    @extend %article-title;
  }

  .attribute {
    @extend %article-attribute;
  }

  .excerpt {
    @extend %article-excerpt;
  }
}

.article-content {
  margin: 0 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid $border-color;

  img {
    width: 100%;
    display: flex; 
  }

  h1 {
    @extend %article-title;
  }

  .attribute {
    @extend %article-attribute;
  }

  .excerpt {
    @extend %article-excerpt;
  }

  .outbound-link-container {
    text-align: center;
  }
  
  .outbound-link {
    outline: none;
    border: 2px solid $dark-grey-scale-color;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    padding: 0.5em 0.8em;
    font-weight: 600;
    color: $dark-grey-scale-color;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    transition: all .15s ease;
    margin-top: 2em;

    &:hover {
      color:  $primary-grey-scale-color;
    }
  }
}

.more-articles {
  margin-left: 1em;
  width: 400px;

  h3 {
    font-family: $condensed-font-stack;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

.more-card {
  position: relative;
  left: -2em;
  list-style: none;
  width: 100%;

  img {
    width: 120px;
    height: 120px;
    margin-right: 1em;
    float: left;
  }

  h2 {
    @extend %article-title;
    font-size: 1.1em;
  }

  .attribute {
    @extend %article-attribute;
  }
}

.history-page {
  margin-left: 1em; 
}
